<?xml version="1.0" encoding="UTF-8"?>

<!--Avoid duplicate names-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- Configure mybatis -->
    <!-- 1. Configure database properties: ${url} -->
    <!-- classpath = /resources/-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!-- 2. DataSource connection pool -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- Connection pool properties from jdbc.properties -->
        <property name="driverClass" value="${jdbc.driver}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!-- c3p0 private properties -->
        <property name="maxPoolSize" value="30"/>
        <property name="minPoolSize" value="10"/>
        <!-- autocommit of datasource connection pool be set to false -->
        <property name="autoCommitOnClose" value="false"/>
        <!-- timeout -->
        <property name="checkoutTimeout" value="10000"/>
        <!-- retry attemps -->
        <property name="acquireRetryAttempts" value="2"/>
    </bean>

    <!-- 3.SqlSession object created by SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- Connect to datasource connection pool -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 配置MyBatis全局配置文件:mybatis-config.xml -->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <!-- SqlFactory scans entity and connect to datasource -->
        <property name="typeAliasesPackage" value="com.imooc.o2o.entity"/>
        <!-- Specify mapper instructions -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"/>
    </bean>

    <!-- 4.Configure and scan dao package，realizing dynamic dao connection and injecting to spring container -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- inject into sqlSessionFactory -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <!-- provide base package to scan -->
        <property name="basePackage" value="com.imooc.o2o.dao"/>
    </bean>
</beans>